  .main-panel {
    max-width: 300px;
  }

  .main-panel .row {
    display: flex;
  }
    
  .main-panel .cell {
    flex: 1;
    background: #fff;
    border: 1px solid #999;
    font-size: 10px;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 30px;
  }